<p id="notice"><%= notice %></p>

<p>
  <strong>Descrip:</strong>
  <%= @version.descrip %>
</p>

<p>
  
</p>

<%= link_to 'Editar', edit_version_path(@version) %> |
<%= link_to 'Regresar', versions_path %>
