<div class="breadcrumbs">
  <%= link_to "My companies", "/companies" %> &raquo;

  
   <p>
   Archivos Generados con exito . 

   </p>



<div class="button">
  <%= link_to 'Regresar', "/companies/contratos/#{@company.id}" %>
</div>

 
</div