<html>
  <head>
    <script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
  </head>
  <body onload="number_pages()">


     <hr>

     <table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100%'>
    
     <tr bgcolor="#B4D7F7"> 
     <td width = "20%" align ="left"> </td>
     <td width = "40%" align ="left">  </td>  
     <td width = "10%" align ="left"> Saldo Anterior </td>
     <td width = "10%" align ="center">Cargos </td>
     <td width = "10%" align ="center">Abonos </td>
     <td width = "10%" align ="center">Saldo </td>
    
     </tr>

     <tr >
     <td width = "20%" align ="left"> </td>
     <td width = "40%" align ="left"> RESUMEN</td>

     <td width = "10%" align ="left">   <%= money(@saldo_inicial) %>  </td>
     <td width = "10%" align ="center"> <%= money(@total_cargos) %></td>
     <td width = "10%" align ="center"> <%= money(@total_abonos) %></td>
     <td width = "10%" align ="center"> <%= money(@saldo) %> </td>
     
     </tr>



     </table>
  </body>
</html>