<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
  <head>
      
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
     <script>
      function number_pages() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = decodeURIComponent(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
    
  </head>

  <body style="margin-top: 70px;" onload="number_pages()">
      
<table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100% ,border-collapse:collapse;' , border="0",cellpadding="0" cellspacing="0", width= "100%" >

    <tr>
    <th width="20%" rowspan="3"><%= wicked_pdf_image_tag('images/logo3.jpg')  %></th>
    <th width="60%"> </th>
    <th width="20%"> TR-RHF-F-054</th>
    </tr>

    <tr>
    
    <th  width="60%"> <center>CONTRATOS  </center>  </th>
    <th  width="20%"> Fecha: <%= Date.today.strftime("%d-%m-%Y") %> </th>
    
    </tr>

     <tr >
  
    <th width="60%"> <center> Desde: <%= @fecha1.to_s %>  Hasta: <%= @fecha2.to_s %> </center></th>
    <th width="20%"> Pag.:<span class="page">[page]  </span> / <span class="topage">[topage]  </span> </th>
  
    
    </tr> 
    </table>

<p>
  
</p>
<table style='font-family:"Courier New", Courier, monospace; font-size:80% ;width:100% ,border-collapse:collapse;' , border="0",cellpadding="0" cellspacing="0", width= "100%" >

    <tr>    

    </tr> 


     <tr bgcolor="#B4D7F7">
    
    <th width="4%">     </th>
    <th width="10%"> Cuota    </th>
    <th width="10%"> Cuota Incl.    </th>
    <th width="10%">  Valor </th>
    <th width="10%"> Monto</th>
    <th width="10%"> Monto </th>
    <th width="10%"> Total </th>
    <th width="10%">    </th>
    <th width="10%"> Total  </th>
    <th width="4%">  Factura </th>
    <th width="4%">  Factura </th>
    <th width="4%">  Fecha  </th>
  </tr>
 <tr bgcolor="#B4D7F7">
    <th width="4%">  Nro.   </th>
    <th width="10%">  Vcmto   </th>
   
    <th width="10%"> IGV </th>
     <th width="10%">  Venta    </th>

    <th width="10%"> Comision 1 </th>
    <th width="10%"> Comision 2</th>
    <th width="10%"> Comision   </th>
    <th width="10%">  IGV    </th>
    <th width="10%"> X Cobrar </th>
    <th width="10%"> Canal </th>

    <th width="10%"> Masa </th>

    <th width="10%"> Factura </th>

    
  </tr>
    </table>

  </body>
  
  
</html>